/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

.header-bottom{
    background-image: url("url_dimensionpequeña");
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}


header{
    background-color: blueviolet;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    header {
        background-color: aqua;
    }



 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    .header-bottom{
        background-image: url("url_dimensionMediana");
        margin-top: auto;
        margin-bottom: auto;
        
    }
    header {
        background-color: greenyellow;
    }

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    header {
        background-color: red;
    }
 }